/*
https://coolors.co/7ec9ac-0b4f6c-fbfbff-11b5e4-b3b3b3

Light Blue: 11B5E4;
Grey: B3B3B3;
White: FBFBFF;
Dark Blue: 0B4F6C;
Green: 7EC9AC;

*/

/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
